body {
}
.header {
  max-width: 1200px;
  margin: 0 auto;
  background: url("./img/IMAGE.png");
}
.header_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 40px 400px 40px;
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.header_nav-leftlist,
.header_nav-rightlist {
  display: flex;
}

.header_nav-leftlist li {
  padding-left: 25.5px;
}

.header_nav-rightlist li {
  padding-right: 25.5px;
}

.header_nav-leftlist__link {
  display: inline-block;
  transition-property: all;
  transition: all ease 0.6s;
}

.header_nav-leftlist__link:hover {
  display: inline-block;
  transform: scale(1.2);
  transition: 0.6s;
  color: rgb(70, 40, 0);
}

.header_title {
  text-align: center;
  padding-bottom: 190px;
  margin-left: 31%;
}

.artifacts {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 64px 150px;
}
.artifacts_header {
  max-width: 745px;
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 80px;
}
.artifacts_button-discover {
  margin: 60px 0;
  border: 1px solid #000000;
  border-radius: 9999px !important;
  background-color: #fff;
  text-transform: lowercase;
  padding: 5px 25px;
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  text-transform: lowercase;
}
.artifacts_gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}
.artifacts_gallery-1 {
  margin-top: 120px;
}
.artifacts_gallery-2 {
  margin-bottom: 120px;
}
.artifacts_gallery-3 {
  margin-bottom: 120px;
}
.artifacts p {
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 15px;
}

.artifacts_button-more {
  margin-top: 20px;
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  text-transform: lowercase;
  border: 1px solid #000000;
  border-radius: 9999px !important;
  padding: 5px 25px;
  background-color: #fff;
}

.proposals {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.proposals_title {
  max-width: 315px;
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
}
.proposals_main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 95px 0;
}
.proposals_main-img1 {
  margin-bottom: 130px;
}
.proposals_main-list {
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 300;
  font-size: 52px;
  line-height: 80px;
  text-align: center;
}
.proposals_main-img2 {
  margin-top: 180px;
}
.proposals_button {
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  text-transform: lowercase;
  border: 1px solid #000000;
  border-radius: 9999px !important;
  background-color: #fff;
  padding: 5px 25px;
}
.proposals_main-list__link {
  display: inline-block;
  transition-property: all;
  transition: all ease 0.6s;
}
.proposals_main-list__link:hover {
  display: inline-block;
  transform: scale(1.2);
  transition: 0.6s;
  color: rgb(189, 126, 53);
}
.projects {
  margin: 190px auto;
  max-width: 1200px;
}
.projects_title {
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 51px;
  line-height: 80px;
  text-align: center;
}
.projects_description {
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  margin: 15px 0 63px;
}
.projects_list {
  display: flex;
  justify-content: space-between;
  user-select: none;
}
.projects_list-item img {
  margin-bottom: 15px;
}

.services {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}
.services_title {
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 80px;
}
.services_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 100px;
  column-gap: 50px;
  margin: 64px 67px 170px;
}
.services_list-item__title {
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 20px;
}
.services_list-item__text {
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
}
.services_contact {
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
}
.services_call {
  border: 1px solid #000000;
  border-radius: 9999px !important;
  background-color: #fff;
  text-transform: lowercase;
  padding: 5px 25px;
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  text-transform: lowercase;
  margin: 30px 0 150px;
}
.novelties {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}
.novelties_title {
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 53px;
  line-height: 80px;
  padding-left: 11%;
}
.novelties_arrows {
  width: 112px;
  display: inline-flex;
  position: absolute;
  top: 15px;
  right: 69px;
}

.hidden {
  display: none;
}

.novelties_arrows-leftarrow {
  margin-right: 12px;
  position: relative;
}

.novelties_arrows-leftarrow__indicator {
  position: absolute;
  top: 14px;
  left: 14px;
}
.novelties_arrows-leftarrow__circle {
}
.novelties_arrows-rightarrow {
  position: relative;
}
.novelties_arrows-rightarrow__indicator {
  position: absolute;
  top: 13px;
  right: 14px;
}
.novelties_arrows-leftarrow:hover,
.novelties_arrows-rightarrow:hover {
  cursor: pointer;
  transition: 0.6s;
}
.novelties_viewall,
.novelties_viewless {
  border: 1px solid #000000;
  border-radius: 9999px !important;
  background-color: #fff;
  text-transform: lowercase;
  padding: 2px 25px;
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  text-transform: lowercase;
  margin: 10px 0 70px 0;
  margin-left: 9%;
}

.container {
  margin: 0 auto;
  width: 1057px;
  overflow: hidden;
}

.novelties_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  width: 3171px;
  position: relative;
  transition: all ease 1s;
}

.novelties_list-all {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.novelties_list-item {
}
.novelties_list-item img {
  height: 424px;
  width: 339px;
}

.novelties_list-item__descr {
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.novelties_list-item__price {
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.6);
}
.newsletter {
  margin: 200px auto 30px;
  max-width: 1200px;
  text-align: center;
  position: relative;
}
.newsletter_title {
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 53px;
  line-height: 80px;
  margin-bottom: 120px;
}

.newsletter_title:before {
  width: 90%;
  content: "";
  position: absolute;
  border-bottom: 2px solid rgba(11, 8, 5, 0.2);
  top: -130px;
  left: 5%;
}

.newsletter_title:after {
  width: 60%;
  content: "";
  position: absolute;
  border-bottom: 2px solid rgba(11, 8, 5, 0.2);
  bottom: 75%;
  left: 20%;
}
.newsletter_content-text {
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
}
.newsletter_content-input {
  margin: 30px 0 50px 0;
  border: 1px solid black;
  border-radius: 30px !important;
  background-color: white;
  width: 20%;
  height: 40px;
}
.newsletter_info {
  display: flex;
  margin: 150px 64px 34px 64px;
}

.newsletter_info:before {
  width: 90%;
  content: "";
  position: absolute;
  border-bottom: 2px solid rgba(11, 8, 5, 0.2);
  bottom: 20%;
  left: 5%;
}

.newsletter_info-item {
  margin-right: 16px;
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
}
.newsletter_about {
  display: flex;
  justify-content: space-between;
  margin: 0 64px;
}
.newsletter_about-item {
  font-family: "Solitreo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
